.App {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1em;
  padding: 1em;
}

.forkme {
  position: absolute;
  top: 0;
}

.table {
  margin-top: 1em;
}

.error {
  color: red;
}

@media screen and (max-width: 1030px) {
  .forkme {
    display: none;
  }
}
